.flex {
  display: flex;
  flex-direction: column;
  width: 96%;
}

.flex-row {
  float: right;
}
.editor {
  margin-left: 50px;
  box-shadow: 0 8px 8px -6px black;
}



.post-btn {
  border: 1px solid #1cd454;
  color: #1cd454;
  font-weight: 900;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  text-transform: uppercase;
  // transition: all 0.36s ease-in-out;
  margin-top: 20px;
  background: linear-gradient(to right, white, #1cd454 50%, white 50%);
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  background-position: 110%;
  transition: background-position 350ms ease;
  text-decoration: none;
  color: #1cd454;
}

.post-btn:hover {
  cursor: pointer;
  background-position: 0 100%;
  box-shadow: 1px 1px 9px #FFF0F5;
  -webkit-text-fill-color: transparent;
}



.checkbox {
  float: right;
  margin-top: 10px;

}

.tags {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}