.post_body {
  &__item {
    &-flex_between {
      display: flex;
      justify-content: space-between;
    }
    &-float_right {
      float: right;
    }
    &-text_body {
      float: right;
      width: 60%;
      padding-top: 20px;
    }
    &-user_card {
      margin-left: 10px;
      margin-top: 10px;
      width: 22%;
      height: 10%;
      padding-left: 18px;
    }

    &-likes_comments {
      display: flex;
      justify-content: space-between;
    }
    &-circle {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-color: white;
      padding-left: 12px;
      padding-top: 8px;
      margin-bottom: 5px;
    }
    &-inline {
      display: flex;
    }
    &-user_link {
      text-decoration: none;
    }
    &-message_button {
      // float: right;
      padding-top: 15px;
    }
    &-list {
      list-style-type: none;
      display: inline-block;
    }
    &-comment_list {
      border-radius: 5px;
      overflow: scroll;
      background-color: white;
      height: 150px;
    }
    &-comment_avatar {
      display: flex;
    }
    &-comments {
      list-style-type: none;
      background-color: #faf0e6;
      color: black;
      display: inline-block;
      width: 90%;
      border-radius: 15px;
      margin-left: 60px;
      padding: 10px;
    }
    &-comments p,
    li {
      color: black;
    }
    &-comments li {
      color: black;
    }
    &-comment_button {
      float: right;
      padding-top: 3px;
    }
  }
}
