.register-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* background: #222b45; */
  border-radius: 10px;
  border: 10px solid #222b45;
  padding: 2rem;
  height: 1000px;
  width: 1000px;
}

.register-avatar-list-title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar-title-title,
.register-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 1rem;
}

/* register input */
.register-input {
  background: #192038;
  color: white;
  padding: 0.75rem;
  border: 1px solid #222b45;
  height: 30px;
  border-radius: 5px;
  font-size: 1rem;
}

.register-input:focus,
.register-input:hover {
  outline: none;
  border: 1px solid #3366ff;
}


.toggle-avatar-list-btn,
.username-random-btn {
  border: 1px solid #3366ff;
  color: #3366ff;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-avatar-list-btn:hover,
.username-random-btn:hover {
  cursor: pointer;
  background: #3366ff;
  color: white;
}

.selected-avatar {
  width: 55px;
  height: 55px;
  background: #222b45;
  margin-right: 1rem;
  border-radius: 5px;
  border: 1px solid #3366ff;
}


.register-avatar-list-container {
  display: flex;
  flex-direction: row;
  background: #222b45;
  border-radius: 5px;
}

.avatar-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.avatar-list-item {
  width: 52px;
  height: 52px;
}

.avatar-list-item:hover {
  cursor: pointer;
  background: white;
  border-radius: 5px;
}


/* Username */
.register-username-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.username-random-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.username-random-text {
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 600;
  margin:0 1rem;
}


.register-btn {
  border: 1px solid #1cd454;
  color: #1cd454;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}


.register-btn:hover {
  cursor: pointer;
  background: #1cd454;
  color: white;
}


.register-error {
  color: rgb(250, 70, 70);
  margin-left: 1rem;
}