.username-search-container {
  position: relative;
}

#username-search-label {
  font-size: 0.9375rem !important;
  font-weight: 700 !important;
}

#search-user-input {
  background: #192038;
  color: white;
  padding: 0.75rem;
  border: 1px solid #222b45;
  height: 30px;
  border-radius: 5px;
  font-size: 1rem;
}

#search-user-input:focus {
  border: 1px solid #3366ff;
  outline: none;
}

.username-search-results {
  position: absolute;
  left: 62px;
  background: white;
  color: black;
  width: 190px;
  font-size: 0.9rem;
  max-height: 150px;
  overflow: auto;
  z-index: 1;
  /* box-shadow: 3px 3px 3px #636363; */
}

.username-search-results-item {
  padding: 0.05rem 0.25rem;
}

.username-search-results-item:hover {
  cursor: pointer;
  background: #3366ff;
  color: white;
}

.tutor-create-username-search {

}